# Byte-compiled / optimized / DLL files
**/__pycache__/*

# Environment files
*.env
*.venv
env/
venv/

# IDE files
.idea/
.vscode/

# Jupyter files
.ipynb_checkpoints

# Project files
data/clan_data/*.csv
data/player_data/*.csv
