# Byte-compiled / optimized / DLL files
__pycache__/

# OS files
.DS_Store

# Environment files
*.env
*.venv
env/
venv/

# IDE files
.idea/
.vscode/

# Jupyter files
.ipynb_checkpoints

# Project files
